{% extends "base.html" %} {% block content%}

<div id="messagesContainer">
  {% if request.user.is_authenticated %} {% for message in messages %}

  <div class="message">
    <span class="date">{{message.created_at}}</span>
    <span>{{message.author}}:</span>
    <p>{{message.text}}</p>
  </div>

  {% endfor %}
</div>

<form
  onsubmit="sendMessage(); return false;"
  method="post"
  data-csrf-token="{{ csrf_token }}"
>
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input
      class="mdl-textfield__input"
      name="textmessage"
      type="text"
      id="messageInput"
    />
    <label class="mdl-textfield__label" for="messageInput">Text...</label>
  </div>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Button
  </button>
  {% else %}

  <h1>Nicht eingeloggt</h1>
  <p>log in <a href="/login/">here.</a></p>

  {% endif %}
</form>

{% endblock %}
